# config file format version 7.0
#
# Author: Sunrise Animation Studios (RR pre-script wrapper)
#
# Last change: 2026-01-15
#
# This pre-script queries rrEnvList from the job and exports env vars to:
#   /tmp/rr/rr_env-<JID>.sh
# It also prints the export lines to stdout.
#
# Typical follow-up in the render app commandline:
#   source /tmp/rr/rr_env-<JID>.sh
#
################################## Identify script ##################################
Name= AYON export rrEnvList to shell env

PrePostType=Pre

PrePostChecked= true
# Optional defaults:
# AllowedForExecuteOnceJobs= false
# AllowedForSingleOutput = true
# ExecutePerChannel = false
# PrePostShowParamA= false
# PrePostShowParamB= false
# PrePostParamA= 100
# PrePostParamB= 100


##################################  [Windows] [Linux] [OSX]  ##################################

CommandLine=
	<ResetExitCode>


CommandLine=  <OsxApp "<rrBin64>rrPythonconsole" > "<RR_DIR>render_apps/_prepost_scripts/get_envs.py"  -jid <JID>



CommandLine=
	<CheckExitCode> <FN>
